{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link href="images/favicon.ico" rel="shortcut icon">
	<title>Let The Game's Begin</title>
</head>

<body>

<div> class="container">
	<h1>Jeff's Game</h1>
	<hr />

	{% for entries in rpg_room %}
		<div class="room">
		<h2>{{ name }}</h2>
		<h3>described as {{ description }} with exits to the {{ exits }}</h3>
		<p> and the following items inside {{ items}}</p>
		</div>
		<hr />
	{% endfor %}
</div>

</body>

</html>

{% endblock %}